body {
  display: flex;
  flex: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.Vert {
  background-color: #2ecc71;
  flex: 80%;
  padding-top: 2%;
}
.Bleu {
  background-color: #2980b9;
  flex: 20%;
}
.Rouge {
  background-color: #e74c3c;
  flex: 33%;
  padding-top: 4%;
}
.Orange {
  background-color: #e67e22;
  flex: 34%;
}
.Gris {
  background-color: #95a5a6;
  flex: 33%;
}
.Jaune {
  background-color: #f39c12;
  flex: 23%;
}
.Turquoise {
  background-color: #16a085;
  flex: 22%;
}
.Orange2 {
  background-color: #d35400;
  flex: 22%;
}
.Noir {
  background-color: #2c3e50;
  flex: 100%;
  padding-top: 8%;
}
